@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #bfdbfe;
  --foreground: #020617;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: @apply bg-slate-600;
    --foreground: #020617;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-2xl mb-3;
  }
  h2 {
    @apply text-xl mb-3;
  }
  h3 {
    @apply text-lg mb-3;
  }
  a {
    @apply text-blue-600 underline;
  }
}